@import "../variables";

.DataTable {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  padding: 2%;
  padding-bottom: 5%;
  border-radius: 10px;
  table {
    width: 100%;
  }
  .dtb {
    margin: 0 auto;
  }
}
