@import "../variables";

.Header {
  display: flex;
  height: 80px;
  margin-top: 2%;
  position: relative;
  justify-content: center;
  margin-bottom: 2%;
  img {
    height: 100%;
    position: absolute;
    left: 0;
  }
}
