@import "../variables";

.CreateEmployee {
  main {
    background-color: $primary_color;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    a,
    h2 {
      color: white;
    }
  }
}
